body {
    background: blue;
}

#centerText {
    text-align: center
}

h1 {
    color: red;
    font-size: 110px;
    text-align: center;
    padding-top: 30px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

#game-container {
    background: yellow;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;


}

#start, #endGame {
    font-size: 72px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    margin-top: 60px;
    margin-bottom: 150px;
    border: solid;
    border-width: 3px;
}

p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
}

input[type="radio"]{
    margin: 0 20px 0 20px;  
}

form {
    font-weight: bold;
}

#bottomSpace {
    padding: 30px;
}